name: GitHub Page

on:
  push:
    branches:
      - '*'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'pip'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Delete code cells
        run: python .github/clear_code_cells.py
        env:
          DRY_RUN: false
          DELETE: true
      - name: Build site
        run: jupyter book build --html
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: _build/html/
      - name: Deploy GitHub Pages site
        uses: actions/deploy-pages@v4
        if: github.ref == 'refs/heads/main'
